body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8;
}

.icon-link {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cce5ff;
  /* Light blue background */
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

button {
  border: 2px solid #979494;
  border-radius: 10px;
  color: #727070;
  padding: 10px;
  text-align: center;
}

.balance-icon {
  font-size: 24px;
}

.icon-link {
  text-decoration: none;
  color: #28a745;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 10px;
  border: 2px solid #28a745;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.icon-link:hover {
  background-color: #28a745;
  color: #fff;
  border-color: #fff;
}

.icon-link i {
  margin-bottom: 5px;
}

.icon-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.additional-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.additional-icons .icon-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
}

.bordered-container {
  border: 2px solid #28a745;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  position: relative;
  background-color: white;
  text-align: center;
}

.calculator {
  width: 260px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #141414;
}

.time {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}

.special-bonus {
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 24px;
  color: #28a745;
}

.gift-icon {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 24px;
  color: #28a745;
}

.update-info {
  margin-top: 10px;
}

.update-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.update-info h6 {
  font-size: 14px;
  color: #727070;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: 2px solid #28a745;
  border-radius: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.link-button:hover {
  background-color: #fff;
  color: #28a745;
}

.marquee {
  margin-top: 10px;
  background-color: #f2f2f2;
  padding: 10px 0;
  overflow: hidden;
}

.marquee p {
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.color1 {
  color: #ff0000;
}

.color2 {
  color: #00ff00;
}

.color3 {
  color: #ff0000;
}

.color4 {
  color: #00ff00;
}

.color15 {
  color: #ff0000;
}

.color16 {
  color: #00ff00;
}

.color17 {
  color: #ff0000;
}

.color18 {
  color: #00ff00;
}

.color19 {
  color: #ff0000;
}

.color20 {
  color: #00ff00;
}

.footer {
  background-color: #28a745;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  -webkit-box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.bottom-navigation a {
  text-decoration: none;
  color: #28a745;
}

.bottom-navigation i {
  font-size: 24px;
}

.button-container {
  bottom: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.session-expired-button,
.logout-button,
.upgrade-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.session-expired-button {
  background-color: #ffc107;
  color: #212529;
}

.session-expired-button:hover {
  background-color: #e0a800;
}

.logout-button {
  background-color: #dc3545;
  color: #fff;
}

.logout-button:hover {
  background-color: #c82333;
}

.upgrade-button {
  background-color: #007bff;
  color: #fff;
}

.upgrade-button:hover {
  background-color: #0056b3;
}
/*# sourceMappingURL=dashboard.css.map */